# Over here we need the four csv files ( 05_c, 06_c , 11_c, 12_c )

to create 13_c

#Purchase History Data Creation

Here we gonna create Customer Purchase Transactional Record that will generate our Consumer Purchase History

In [ ]:
import pandas as pd
from datetime import datetime
import random

In [ ]:
user_profile= pd.read_csv('https://raw.githubusercontent.com/KislayKaran/Walmart_Supermarket/main/Required_CSV_files/05_c_user_profile_%5B(created_csv)%20using_faker%5D.csv')

In [ ]:
user_add= pd.read_csv('https://raw.githubusercontent.com/KislayKaran/Walmart_Supermarket/main/Required_CSV_files/06_c_user_address_%5B(created_csv)%20using_faker%5D.csv')

In [ ]:
products= pd.read_csv('https://raw.githubusercontent.com/KislayKaran/Walmart_Supermarket/main/Required_CSV_files/11_c_products_list_(created_csv).csv')

In [ ]:
user_add.head()

,Unnamed: 0,street_address,city,state,zip_code,longitude,latitude,family_id
0,0,750 Angela Avenue,Bastrop,LA,71220,-91.961948,32.811043,NtBpCYZAAf
1,1,24163 Robert Expressway,Shreveport,LA,71129,-93.971795,32.417261,wAlLGSViRb
2,2,4525 Brian Trafficway Suite 727,Jena,LA,71342,-92.111126,31.711846,ZyvoVEfkmV
3,3,3037 Farley Curve,Houma,LA,70360,-90.874256,29.677032,CoGEPThfYx
4,4,4986 Garcia Meadows Apt. 915,New Orleans,LA,70114,-90.067449,29.974190,RynHjrjqBA

In [ ]:
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: faker in /usr/local/lib/python3.7/dist-packages (13.15.1)
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from faker) (4.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)

In [ ]:
from faker import Faker
faker = Faker()

In [ ]:
user_add['state'].value_counts()

LA    100
MD    100
NH    100
ID    100
MS    100
AK    100
IN    100
AZ    100
WI    100
KS    100
MO    100
ME    100
NJ    100
CT    100
WV    100
PR    100
NE    100
VT    100
MT    100
ND    100
DE    100
NV    100
WY    100
RI    100
HI    100
UT    100
CA    100
IA    100
SC    100
NC    100
SD    100
WA    100
TX    100
VA    100
MA    100
GA    100
OK    100
IL    100
MI    100
OH    100
FL    100
AL    100
NM    100
CO    100
NY    100
OR    100
MN    100
TN    100
KY    100
PA    100
AR    100
DC    100
Name: state, dtype: int64

In [ ]:
user_add.groupby('state').count()

,Unnamed: 0,street_address,city,zip_code,longitude,latitude,family_id
state,,,,,,,
AK,100,100,100,100,100,100,100
AL,100,100,100,100,100,100,100
AR,100,100,100,100,100,100,100
AZ,100,100,100,100,100,100,100
CA,100,100,100,100,100,100,100
CO,100,100,100,100,100,100,100
CT,100,100,100,100,100,100,100
DC,100,100,100,100,100,100,100
DE,100,100,100,100,100,100,100
FL,100,100,100,100,100,100,100
GA,100,100,100,100,100,100,100
HI,100,100,100,100,100,100,100
IA,100,100,100,100,100,100,100
ID,100,100,100,100,100,100,100
IL,100,100,100,100,100,100,100
IN,100,100,100,100,100,100,100
KS,100,100,100,100,100,100,100
KY,100,100,100,100,100,100,100
LA,100,100,100,100,100,100,100
MA,100,100,100,100,100,100,100
MD,100,100,100,100,100,100,100
ME,100,100,100,100,100,100,100
MI,100,100,100,100,100,100,100
MN,100,100,100,100,100,100,100
MO,100,100,100,100,100,100,100
MS,100,100,100,100,100,100,100
MT,100,100,100,100,100,100,100
NC,100,100,100,100,100,100,100
ND,100,100,100,100,100,100,100
NE,100,100,100,100,100,100,100
NH,100,100,100,100,100,100,100
NJ,100,100,100,100,100,100,100
NM,100,100,100,100,100,100,100
NV,100,100,100,100,100,100,100
NY,100,100,100,100,100,100,100
OH,100,100,100,100,100,100,100
OK,100,100,100,100,100,100,100
OR,100,100,100,100,100,100,100
PA,100,100,100,100,100,100,100
PR,100,100,100,100,100,100,100
RI,100,100,100,100,100,100,100
SC,100,100,100,100,100,100,100
SD,100,100,100,100,100,100,100
TN,100,100,100,100,100,100,100
TX,100,100,100,100,100,100,100
UT,100,100,100,100,100,100,100
VA,100,100,100,100,100,100,100
VT,100,100,100,100,100,100,100
WA,100,100,100,100,100,100,100
WI,100,100,100,100,100,100,100
WV,100,100,100,100,100,100,100
WY,100,100,100,100,100,100,100

In [ ]:
users_add_5_States=user_add.loc[user_add['state'].isin(['TX','FL','CA','NC','GA'])]     #For Texas, Florida, California, North Carolina,Gorgeia State
users_add_5_States.head()

,Unnamed: 0,street_address,city,state,zip_code,longitude,latitude,family_id
200,200,3872 Alexander Corner,Belmont,NC,28012,-81.083959,35.361884,YDlDmOCEkI
201,201,316 Boone Port Apt. 134,Morganton,NC,28655,-81.720468,35.759268,olTmLAEZOe
202,202,6184 Herbert Village,Morganton,NC,28655,-81.742223,35.726843,kiFNqERDHX
203,203,83225 Meredith Ports Suite 963,Raeford,NC,28376,-79.277397,35.015389,RMmrDBIHvy
204,204,3559 Cruz Curve Suite 382,Clayton,NC,27520,-78.518400,35.753415,cndBwUOUEu

In [ ]:
purchase_history= []
years=[2020,2021]
for year in years:
  for month in range(12):
    firstday_month= datetime(year, month+1, 1)
    lastday_month= firstday_month + pd.offsets.MonthEnd(1)
    for index, family in users_add_5_States.iterrows():
      family_id= family['family_id']
      # Generating Random shopping visits in the selected month
      for i in range(random.randrange(1,4)):
        order_number = faker.pystr_format(string_format="???-######")
        purchase_date = faker.date_time_between_dates(firstday_month, lastday_month)
        # Random no. of items purchased in the given order
        items_in_order = random.randrange(1,10)
        for prod_index, selected_prod in products.sample(items_in_order).iterrows():
          order_info = {'order_number': order_number, 'purchase_date': purchase_date, 'family_id': family_id, 'order_total': items_in_order,
                        'qty': random.randrange(1,4),  'product_id': selected_prod['product_id'], 'product_name': selected_prod['product_name'],
                        'price': round(random.uniform(1.0, 120.0), 2)}
          purchase_history.append(order_info)

In [ ]:
purchase_df= pd.DataFrame(purchase_history)
purchase_df

,order_number,purchase_date,family_id,order_total,qty,product_id,product_name,price
0,HHZ-621818,2020-01-23 04:29:38,YDlDmOCEkI,2,1,17638,Vanilla Coffee Concentrate,99.45
1,HHZ-621818,2020-01-23 04:29:38,YDlDmOCEkI,2,2,31484,Real Simple,109.12
2,boh-369468,2020-01-29 12:31:36,YDlDmOCEkI,4,2,26417,Grape Flavor Pediatric Electrolyte With Zinc,100.72
3,boh-369468,2020-01-29 12:31:36,YDlDmOCEkI,4,2,3753,Anticavity Smart Rinse,25.08
4,boh-369468,2020-01-29 12:31:36,YDlDmOCEkI,4,1,6032,Hawaiian Cocktail Exfoliating Lava Flow Body Wash,45.11
...,...,...,...,...,...,...,...,...
118942,Sfh-285086,2021-12-25 21:19:16,AKklbNsWsF,3,3,47280,California Orange Juice,102.91
118943,lNg-295793,2021-12-09 20:56:53,AKklbNsWsF,3,1,1426,Lemon Zest,98.87
118944,lNg-295793,2021-12-09 20:56:53,AKklbNsWsF,3,2,19352,Madras Lemon Rice,22.89
118945,lNg-295793,2021-12-09 20:56:53,AKklbNsWsF,3,1,49310,Oatmeal & Banana Baby Cereal,102.10
118946,eXW-170417,2021-12-15 03:47:32,AKklbNsWsF,1,3,3797,Swiss Cheese Singles,56.30

We will now be finding the closest store from the user's address based on
user address longitude/latitude and store longitude/latitude in close proximity.
 Basically we need to know that from which particular Walmart store did the User consumed the products.

In [ ]:
stores= pd.read_csv('https://raw.githubusercontent.com/KislayKaran/Walmart_Supermarket/main/Required_CSV_files/12_c_master_store_data_(created_csv).csv')
stores

,Unnamed: 0,name,street_address,city,state,latitude,longitude,store_id
0,0,Conway Supercenter,1155 Hwy 65 North,Conway,AR,35.108660,-92.436905,097d30f2-bcdd-455d-8f76-b5898641a7a6
1,1,Sikeston Supercenter,1303 S Main St,Sikeston,MO,36.857394,-89.586051,b440c9ee-e8f8-47fa-9ff6-0d5f2592f0af
2,2,Tahlequah Supercenter,2020 S Muskogee Ave,Tahlequah,OK,35.888765,-94.979859,39320b89-9970-44c5-a507-8cf53cc211e4
3,3,Mountain Home Supercenter,65 Wal Mart Dr,Mountain Home,AR,36.354957,-92.341026,63a928b8-7310-457a-8c6d-bda6a43deb59
4,4,Claremore Supercenter,1500 S Lynn Riggs Blvd,Claremore,OK,36.293955,-95.627125,7f34ae06-ec2d-4149-9eb4-f74ef106fbe5
...,...,...,...,...,...,...,...,...
4649,4649,Pearland Neighborhood Market,12631 Broadway Street,Pearland,TX,29.556350,-95.415783,6d19fbc8-49a9-4f68-9a28-fb83e27441ff
4650,4650,Bentonville Gas Station,1300 S Walton Blvd,Bentonville,AR,36.357486,-94.214669,816fc4f7-702d-4798-a45b-fecac8f66177
4651,4651,Millcreek Pickup only,3701 S Highland Dr,Millcreek,UT,40.691031,-111.846529,1340c8c6-9a82-44a8-9fda-33e63fd440a4
4652,4652,Dallas Supercenter,15757 Coit Rd,Dallas,TX,32.963412,-96.770294,a8fe614a-dffd-42d7-9985-5cb3bb5cbd7e
4653,4653,Murray Pickup only,5596 S Van Winkle Expy,Murray,UT,40.649827,-111.849349,cddfec2e-7d33-42d8-b545-7ee0896be6f2

In [ ]:
PRECISION=1

In [ ]:
stores['latitude']= stores.latitude.round(PRECISION)
stores['longitude']= stores.longitude.round(PRECISION)

In [ ]:
def get_closest_super_market(family_longitude,family_latitude):
  supermarket_id= None
  local_longitude=round(family_longitude,1)
  local_latitude=round(family_latitude,1)
  stores_select_long = stores[stores['longitude']==local_longitude]
  stores_long_lati = stores_select_long[stores_select_long['latitude']== local_latitude]
  if len(stores_long_lati)>0:
    selected_store= stores_long_lati.sample(1).to_dict(orient='records')[0]
    supermarket_id= selected_store['store_id']

  return supermarket_id

we reduced the family latitude and longitude to single precision and also we reduced the store latittude and longitude and then we match it equal.

Then out of the equal precisions we then randomly select one particular store and then try attaching it to that user address. Because there might two different stores with the same precised co-ordinates in the same area.

In [ ]:
 # Creating Purchase History for the entire United States.......
purchase_history= []
years=[2020,2021]
for year in years:
  for month in range(12):
    firstday_month= datetime(year, month+1, 1)
    lastday_month= firstday_month + pd.offsets.MonthEnd(1)
    for index, family in user_add.iterrows():
      family_id= family['family_id']
      family_longitude= family['longitude']
      family_latitude= family['latitude']
      # Generating Random shopping visits in the selected month
      for i in range(random.randrange(1,5)):
        # Getting closet super _market uuid
        super_market_uuid = get_closest_super_market(family_longitude, family_latitude)
        if super_market_uuid is not None:
          # Generating Order Number
          order_number = faker.pystr_format(string_format="???-######")
          purchase_date = faker.date_time_between_dates(firstday_month, lastday_month)
          # Random no. of items purchased in the given order
          items_in_order = random.randrange(1,15)
          for prod_index, selected_prod in products.sample(items_in_order).iterrows():
            order_info = {'order_number': order_number, 'purchase_date': purchase_date, 'family_id': family_id, 'order_total': items_in_order,
                          'qty': random.randrange(1,5), 'super_market_uuid':super_market_uuid , 'product_id': selected_prod['product_id'], 'product_name': selected_prod['product_name'],
                          'price': round(random.uniform(1.0, 120.0), 2)}
            purchase_history.append(order_info)

In [ ]:
# Creating Purchase History for 5 States only......   ['TX','FL','CA','NC','GA']  

 # For Texas, Florida, California, North Carolina,Gorgeia State
purchase_history= []
years=[2021]
for year in years:
  for month in range(12):
    firstday_month= datetime(year, month+1, 1)
    lastday_month= firstday_month + pd.offsets.MonthEnd(1)
    for index, family in users_add_5_States.iterrows():
      family_id= family['family_id']
      family_longitude= family['longitude']
      family_latitude= family['latitude']
      # Generating Random shopping visits in the selected month
      for i in range(random.randrange(1,4)):
        # Getting closet super _market uuid
        super_market_uuid = get_closest_super_market(family_longitude, family_latitude)
        if super_market_uuid is not None:
          #Generating Order Number
          order_number = faker.pystr_format(string_format="???-######")
          purchase_date = faker.date_time_between_dates(firstday_month, lastday_month)
          # Random no. of items purchased in the given order
          items_in_order = random.randrange(1,10)
          for prod_index, selected_prod in products.sample(items_in_order).iterrows():
            order_info = {'order_number': order_number, 'purchase_date': purchase_date, 'family_id': family_id, 'order_total': items_in_order,
                          'qty': random.randrange(1,4), 'super_market_uuid':super_market_uuid , 'product_id': selected_prod['product_id'], 'product_name': selected_prod['product_name'],
                          'price': round(random.uniform(1.0, 120.0), 2)}
            purchase_history.append(order_info)

In [ ]:
purchase_df= pd.DataFrame(purchase_history)
purchase_df.head()

,order_number,purchase_date,family_id,order_total,qty,super_market_uuid,product_id,product_name,price
0,ZyO-662908,2021-01-23 14:54:20,olTmLAEZOe,7,3,cec6e9bb-18cf-48fb-bd65-959b2dee48a0,21519,Shea Butter Hand Wash,15.86
1,ZyO-662908,2021-01-23 14:54:20,olTmLAEZOe,7,3,cec6e9bb-18cf-48fb-bd65-959b2dee48a0,26295,Royal Jelly,24.17
2,ZyO-662908,2021-01-23 14:54:20,olTmLAEZOe,7,2,cec6e9bb-18cf-48fb-bd65-959b2dee48a0,21255,Sugar Free Chocolate Pudding,73.84
3,ZyO-662908,2021-01-23 14:54:20,olTmLAEZOe,7,1,cec6e9bb-18cf-48fb-bd65-959b2dee48a0,27445,Xylitol Peppermint Gum,74.76
4,ZyO-662908,2021-01-23 14:54:20,olTmLAEZOe,7,2,cec6e9bb-18cf-48fb-bd65-959b2dee48a0,23265,Chives,111.15

In [ ]:
purchase_df.index

RangeIndex(start=0, stop=32250, step=1)

In [ ]:
purchase_df.to_csv('13_c_purchase_history_5_states_[(created_csv) using_faker].csv')

In [ ]:
!ls -lah

total 4.1M
drwxr-xr-x 1 root root 4.0K Aug  9 16:20  .
drwxr-xr-x 1 root root 4.0K Aug  9 15:31  ..
-rw-r--r-- 1 root root 4.1M Aug  9 16:20 '13_c_purchase_history_5_states_[(created_csv) using_faker].csv'
drwxr-xr-x 4 root root 4.0K Aug  3 20:20  .config
drwxr-xr-x 2 root root 4.0K Aug  9 16:19  .ipynb_checkpoints
drwxr-xr-x 1 root root 4.0K Aug  3 20:21  sample_data